<form [formGroup]="quizForm" novalidate class="quizForm">
  <md-card>
    <md-card-title>Create a new Quiz</md-card-title>
    <md-card-content>
      <md-input placeholder="Quiz name" formControlName="name" class="full-width">
        <md-hint *ngIf="!quizForm.controls.name.valid">
          Quiz name is required (minimum 4 characters).
        </md-hint>
      </md-input>

      <!-- Questions -->
      <h3>Questions</h3>
      <div formArrayName="questions">
        <div *ngFor="let question of quizForm.controls.questions.controls; let i=index">
          <div [formGroupName]="i">
            <md-input placeholder="Qustion" formControlName="question" class="full-width"></md-input>
            <div class="answer">
              <md-input placeholder="Answer One" formControlName="answerOne"></md-input>
              <md-checkbox formControlName="answerOneIsCorrect">is correct</md-checkbox>
            </div>
            <div class="answer">
              <md-input placeholder="Answer Two" formControlName="answerTwo"></md-input>
              <md-checkbox formControlName="answerTwoIsCorrect">is correct</md-checkbox>
            </div>
            <div class="answer">
              <md-input placeholder="Answer Three" formControlName="answerThree"></md-input>
              <md-checkbox formControlName="answerThreeIsCorrect">is correct</md-checkbox>
            </div>
            <div class="answer">
              <md-input placeholder="Answer Four" formControlName="answerFour"></md-input>
              <md-checkbox formControlName="answerFourIsCorrect">is correct</md-checkbox>
            </div>
          </div>
        </div>
      </div>
    </md-card-content>
  </md-card>
</form>