.quizForm {
  md-input {
    width: 100%;
  }

  .answer {
    md-input {
      width: 80%;
    }
    md-checkbox {
      width: 20%;
    }
  }
  .question {
    border: dashed bisque 3px;
    margin: 8px 0;
    padding: 8px;
  }

  padding-bottom: 150px;
}