.quiz {
  width:90%;
  left: 50%;
  top: 50%;
  margin:auto;

  max-width:100%;
  max-height:100%;
  overflow:auto;
}
.question {
  border-style: solid;
  padding: 30px;
}
.row {
  display: flex;
}
.answer {
  flex: 1;
  width: auto;
  margin: 10px;
  padding: 20px;
}
.results {
  width:90%;
  left: 50%;
  top: 50%;
  margin:auto;

  max-width:100%;
  max-height:100%;
  overflow:auto;
  display: flex;
}
.stats {
  width: auto;
  height: 600px;
  flex: 1;
}
.leaderboard {
  margin: 20pt 0 20pt 20pt;
  width: auto;
  flex: 1;
}