<div *ngIf="!this.showResult" class="quiz">
    <div class="question">{{question}}</div>
    <div class="answers">
        <div class="row">
            <button md-raised-button class="answer">{{answer1}}</button>
            <button md-raised-button class="answer">{{answer2}}</button>
        </div>
        <div class="row">
            <button md-raised-button class="answer">{{answer3}}</button>
            <button md-raised-button class="answer">{{answer4}}</button>
        </div>
    </div>
    <button type="submit" md-raised-button (click)="showResults(true)">Show Results</button>
</div>
<div *ngIf="this.showResult" class="quiz">
    <button type="submit" md-raised-button (click)="nextQuestion()">Next Question </button>
</div>
<table>
        <tr>
            <th>Quiz Name</th>
            <th>Questions</th>
        </tr>
        <tr>
            <td>Quiz 1</td>
            <td>2</td>
        </tr>
</table>

